* {
    margin: 0;
    padding: 0;
}

.w {
    width: 100%;
    margin: auto;
}
.b{
    width: 70%;
}

body {
    background-color: rgb(240, 242, 245);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

.header {
    height: 70px;
    margin: 2px auto;
    background-color: white;
    box-shadow: 0 2px 3px 0px rgb(0 0 0 / 20%);
}

.logo a {
    float: left;
    height: 70px;
    width: 220px;
    background-color: white;
    background-image: url(../images/logo.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav {
    float: left;
    margin-left: 1px;
}

.nav ul li {
    float: left;
    margin: 0 30px;
}

.nav ul li a {
    height: 70px;
    padding: 0 30px;
    line-height: 73px;
    font-size: 20px;
    color: black;
    float: left;
}

.nav ul li a:hover {
    border-bottom: 2px solid aqua;
    color: aqua;
}

.search {
    float: left;
    width: 320px;
    height: 40px;
    /* background-color: skyblue; */
    margin-left: 10%;
    padding: 14px 0px;
}

.search input {
    float: left;
    width: 250px;
    height: 40px;
    border: 1px solid skyblue;
    border-radius: 0;
    color: #1b1a1a;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    width: 50px;
    height: 41.5px;
    background: url(../images/btn.png);
    border: 0;
    float: left;
}

.user {
    float: right;
    padding: 4px 0px;
    margin-right: 85px;
}

.user img {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background: url("../images/测试.jpg") no-repeat center;
    background-size: 200%;
}

.goods {
    height: 50px;
    width: 63%;
    float: left;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px 3px 3px rgb(0 0 0 / .05);
    margin-left: 20px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 25px;
    color: #000000;
    margin-top: 6px;
}

.goods a {
    float: right;
    margin-right: 30px;
    font-size: 15px;
    color: #00a4ff;
    margin-top: 18px;
}

.rl {
    width: 420px;
    height: 495px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background-color: white;
    box-shadow: 0 3px 15px 3px rgb(0 0 0 / .05);
}

.box1 {
    float: left;
    width: 291px;
    height: 300px;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    /* box-shadow: 0 2px 3px 3px rgb(0 0 0 / .05); */
    border-radius: 5px;
}

.box1:hover {
    box-shadow: 0 3px 15px 3px rgb(0 0 0 / .40);
}

.box1 img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.box1 h4 {
    text-align: center;
    margin: 10px 0 10px 0;
}

.box1 a {
    margin: 0 0 0 63px;
}

.footer {
    float: left;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer a {
    float: left;
    display: block;
    width: 320px;
    line-height: 50px;
    text-align: right;
    font-size: 20px;
    color: black;
}

.footer img {
    display: block;
    float: left;
    margin: 16px -20px 0px 0px;
}

.side {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.side .icoo {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin-top: -1px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #f5f5f5;
    text-align: center;
}

.side img {
    position: absolute;
    margin: 13px 0 0 -13px;
    width: 30px;
    height: 30px;
}

.side .text:hover {
    content: url(../images/dou.png);
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px 0px 0px -100px;
}


.side .hover2:hover {
    content: url(../images/公众号.png);
}

.side .hover3:hover {
    content: url(../images/客服1.png);
}

.side .hover4:hover {
    content: url(../images/返回顶部.png);
}

.side .icoo span {
    color: #757575;
    text-align: center;
    margin: 50px 0 0 0;
    display: block;
    width: 85px;
    height: 85px;
}

.side .icoo:hover span {
    color: #4e30dc;
}